################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CoreForum.APP/obj
/CoreForum.APP/.vs/CoreForum.APP/v16
/CoreForum.Dto/obj
/CoreForum.Utils/bin/Debug/netcoreapp3.1
/CoreForum.Utils/obj
